{{- /* Go Template file */ -}}

{{ define "timeline_html" }}

{{ if .Items}}
<h2>Timeline</h2>

<h3>Ran from {{ .StartTime.Format "2006-01-02T15:04:05" }} to {{ .EndTime.Format "2006-01-02T15:04:05" }},
    Took {{
    .Duration }}</h3>

<pre class="mermaid">
    gantt
        dateFormat {{ .DateFormat }}
        axisFormat {{ .AxisFormat}}

        {{ $dateFormat := .GoDateFormat }}
        {{ range .Items }}
        {{ sanitizeMermaidName .Name }} :{{ if .Conclusion }}{{ .Conclusion }},{{end}} {{ .ID }}, {{ .StartTime.Format $dateFormat }}, {{ .Duration.Seconds }}s{{ end }}

        {{ range .Items }}
        {{ if .Link }}click {{ .ID }} href "{{ .Link }}" {{ end }}{{ end }}
</pre>
{{ else }}
<h2>No timeline to display, there might not be any workflow runs.</h2>
{{ end }}

{{ if .SkippedItems }}
<h3>Skipped Items</h3>
<ul>
    {{ range .SkippedItems }}
    <li>{{ . }}</li>
    {{ end }}
</ul>
{{ end }}

{{ end }}
